nav{
    grid-area: nav;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color:black;
    a{
    color:white;
    font-size: 15px;
    text-decoration: none;

    }

}
  
  